// Typography
$font-family-main: 'Helvetica', Arial, sans-serif;
$font-family-headings: 'Helvetica', Arial, sans-serif;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #242424;
$background-color: white;
$border-color: #D4D4D4; // rgba recommended if using feature images

// Typography colours
$text-color: #383838;
$link-color: #1ABC9C;
$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: white;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #F98752;
$header-desc-text-color: #FFF;
