@import 'styles/colors'
@import 'styles/animations'

.container
  padding: 5rem 2.5rem
  .supportersContainer
    margin: 0 auto
    max-width: 80%
    animation: fade 2s ease-in-out
  h1
    margin: 1rem 0
    text-transform: uppercase
  p
    font-size: 1.1rem
    margin: 1.1rem 0
  
.buttonsContainer
  display: grid
  grid-template-columns: auto auto
  gap: 1rem
  justify-content: center

.matchMedia
  h1
    font-size: 6vw
  a.matchMedia
    font-size: 3.5vw
    min-width: 100%
    justify-content: center
  .buttonsContainer
    grid-template-columns: 1fr
    gap: unset
  .supportersContainer
    max-width: 100%