@import fonts
@import colors
@import animations

*
  margin: 0
  padding: 0
  outline: 0
  border: 0
  font-family: 'Montserrat', sans-serif
  list-style: none
  text-decoration: none
  box-sizing: border-box

body, html, .App
  width: 100vw
  height: 100vh
  color: $primaryTextColor
  scroll-behavior: smooth
  -webkit-font-smoothing: antialiased
  overflow: hidden

.App
  display: flex
  align-items: center
  justify-content: center

a
  color: inherit