* { padding: 0; margin: 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #909090;
  background-color: #e6e6e6;
  cursor: default;
}

header {
  display: flex;
  flex-flow: column;
  align-content: center;
  margin-top: 75px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-size: 1.56em;
  font-weight: 300;
  transform: scale(1.22, 1.01);
  letter-spacing: 0.2em;
}

ul {
  margin-top: 50px;
}

li {
  display: inline;
  font-size: 1em;
  font-weight: 300;
  transform: scale(1.2, 1.01);
  letter-spacing: 0.2em;
}

a {
  text-decoration: none;
  color: #909090;
  transition: color 0.5s;
  animation: quote-finish-transition 0.8s ease;
}

a:hover {
  transition: color 0.5s;
  animation: quote-start-transition 0.8s ease;
}

.separator {
  display: inline-flex;
  margin: 0 20px 0 20px;
  color: #c7c7c7;
}

#projects:hover {
  color: #4b6e7a;
}

#blog:hover {
  color: #94677d;
}

#about:hover {
  color: #5c6c9b;
}

#contact:hover {
  color: #85a98a;
}

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  bottom: 0;
  position: fixed;
}

#photo {
  width: 311px;
  height: 312px;
  background-image: url('../img/dalton-menezes.png');
  background-repeat: no-repeat;
}

@keyframes quote-start-transition{
  from {opacity: 0}
   to {opacity: 1}
}
@keyframes quote-finish-transition{
  from {opacity: 0}
   to {opacity: 1}
}

@keyframes float{
    from {-webkit-transform:translate(0, 0px); -moz-transform:translate(0, 0px);}
    50% {-webkit-transform:translate(0, -15px); -moz-transform:translate(0, -15px);}
    to {-webkit-transform: translate(0, -0px); -moz-transform: translate(0, -0px);}
}

#top-quotes {
  margin-left: -80px;
  width: 65px;
  height: 45px;
  background-image: url('../img/top-quotes.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  animation: float 2s infinite;
}

#bottom-quotes {
  margin: 150px 0 0 330px;
  width: 65px;
  height: 45px;
  background-image: url('../img/bottom-quotes.png');
  background-repeat: no-repeat;
  background-position: 0 -200px;
  animation: float 2s infinite;
}
