* { padding: 0; margin: 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #909090;
  background-color: #e6e6e6;
  cursor: default;
}

header {
  display: flex;
  flex-flow: column;
  align-content: center;
  margin-top: 75px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-size: 1.56em;
  font-weight: 300;
  transform: scale(1.22, 1.01);
  letter-spacing: 0.2em;
}

ul {
  margin-top: 50px;
}

li {
  display: inline;
  font-size: 1em;
  font-weight: 300;
  transform: scale(1.2, 1.01);
  letter-spacing: 0.2em;
}

a {
  text-decoration: none;
  color: #909090;
  transition: color 0.5s;
  animation: quote-finish-transition 0.8s ease;
}

a:hover {
  transition: color 0.5s;
  animation: quote-start-transition 0.8s ease;
}

a:focus {
  outline: none;
}

.separator {
  display: inline-flex;
  margin: 0 20px 0 20px;
  color: #c7c7c7;
}

#blog:hover, #blog:focus, #blog:active {
  color: #4b6e7a;
}

#projects:hover, #projects:focus, #projects:active {
  color: #94677d;
}

#about:hover, #about:focus, #about:active {
  color: #5c6c9b;
}

#contact:hover, #contact:focus, #contact:active {
  color: #85a98a;
}

footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  bottom: 0;
  position: fixed;
}

#photo {
  width: 311px;
  height: 312px;
  background-image: url('../img/dalton-menezes.png');
  background-repeat: no-repeat;
}

@keyframes quote-start-transition{
  from {opacity: 0}
   to {opacity: 1}
}
@keyframes quote-finish-transition{
  from {opacity: 0}
   to {opacity: 1}
}

@keyframes float{
    from {-webkit-transform:translate(0, 0px); -moz-transform:translate(0, 0px);}
    50% {-webkit-transform:translate(0, -15px); -moz-transform:translate(0, -15px);}
    to {-webkit-transform: translate(0, -0px); -moz-transform: translate(0, -0px);}
}

#top-quotes {
  margin-left: -80px;
  width: 65px;
  height: 45px;
  background-image: url('../img/top-quotes.png');
  background-repeat: no-repeat;
  background-position: 0 0;
  animation: float 2s infinite;
}

#bottom-quotes {
  margin: 150px 0 0 330px;
  width: 65px;
  height: 45px;
  background-image: url('../img/bottom-quotes.png');
  background-repeat: no-repeat;
  background-position: 0 -200px;
  animation: float 2s infinite;
}

.close-section {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  background-color: black;
  margin-bottom: 200px;
}

.close {
  margin: 10px 10px 10px 0;
}

.close  .fa {
  width: 50px;
  font-size: 3em !important;
  margin: 0;
  color: #7a4b4b;
}

.fa {
  font-size: 5em !important;
  color: white;
  margin: 0 25px 10px 25px;
  overflow: hidden;
}

.fa:hover {
  color: #85a98a;
}

.modal {
  visibility: hidden;
  text-align: center;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, .95);
  position: absolute;
  z-index: 100;
  overflow-y: auto;
}

#about-text {
  font-size: 1.4em;
}

#about-text h2 {
  margin: -100px 0 20px 0;
}

#about-text .fa {
  margin: 0;
  vertical-align: -3px;
  position: relative;
  font-size: 1em !important;
  color: #7a4b4b;
}

#skills {
  min-width: 100%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
}

.skill-tag {
  display: inline-block;
  font-size: 2em;
  padding: 10px;
  margin: 4px;
  border: 2px solid #5c6c9b;
}
