@import styles/animations

.header, .menu
  margin-top: 5rem

.header h1
  animation: fade 1s ease-in-out

.menu
  a
    margin: 0 1.5rem
    margin-bottom: 1.2rem
  li
    font-size: .9rem
    letter-spacing: .1em
    justify-content: center
  span
    font-size: 1rem
  
  justify-content: center
  animation: fade 2s ease-in-out