@import 'styles/animations'
@import 'styles/colors'

.header, .menu
  margin-top: 5rem

.header h1
  cursor: default
  animation: fade 1s ease-in-out

.menu
  a
    margin: 0 1.5rem
    margin-bottom: 1.2rem
    transition: .5s ease
    &:hover
      color: $activeColor
  li
    font-size: .9rem
    letter-spacing: .1em
    justify-content: center
  span
    font-size: 1rem
    cursor: default
  
  justify-content: center
  animation: fade 2s ease-in-out